* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.tarjeta-producto {
    border: 1px solid #1c1d20;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #302f2f;
    width: 220px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagen-producto {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}

.titulo-producto {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}

.precio-producto {
    font-size: x-large;
    color: #31ac00;
    font-weight: bold;
    }

#cantidad {
    color: aliceblue;
}

.selector-cantidad {
    padding: 5px;
    width: 60px;
    color: aliceblue;
    background-color: #302f2f;
}

.boton-agregar {
    background-color: #007bff;
    color: #ffffff;
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito-de-compra{
    background-color:#ffffff;
    height: 10vh;
    display: flex;
    justify-content: right;
    border: #007bff;
    border-radius: 10px;
    width: 90vw;
}

#carrito-compra{
    background-color:#ffffff;
    height: 100%;   
    justify-content: center;
  
}

#carrito-compra:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .tarjeta-producto {
        justify-content: center;
    }
}

#total-carrito{
    font-weight: bold;
    color:#000000;
    border-color: #a858af;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    max-width: 50vw;
    min-width: 20vw;
    padding-left: 10px;
    margin-left: 10px   ;
}

#precio-carrito{
    font-style: italic;
    color: #31ac00;
}

#vaciar-carrito{
    margin-left: 10px   ;
}
